@import '../../styles/style';

.react-datepicker {
  
    .react-datepicker__header {
        background-color: $primary-100;
        color: $primary;

        .react-datepicker__current-month {
            color: $primary;
        };

        .react-datepicker__year-select, .react-datepicker__month-select {
            color: white;
        }
    }

    .react-datepicker__day--selected {
        background-color: $primary;
        color: white;
    }

    // Dropdown styles
    .react-datepicker__month-select, .react-datepicker__year-select {
        background-color: $primary;
        color: white;
        border: 0;
        border-radius: 4px;
        // padding: 0.5rem;
        font-weight: bold;
    }

    // Dropdown option styles
    .react-datepicker__month-option, .react-datepicker__year-option {
        padding: 0.5rem;
        color: $primary;
    }

    .react-datepicker__month-option:hover, .react-datepicker__year-option:hover {
        background-color: $primary-400;
        color: $primary;
    }
}