@import '../../styles/style.scss';

.event-item {
    display: flex;
    flex-direction: column;
    height: 100%;  /* Ensure the div takes full height as needed */
    justify-content: space-between; /* Aligns children at space-between */

    background-color: #fff;
    border: 1px solid var(--bs-gray-300);
    margin: 0;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $secondary-100;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.disabled {
        background-color: var(--bs-gray-200);
        border: 1px solid var(--bs-gray-300);
        color: var(--bs-gray);
        cursor: not-allowed;
        box-shadow: none;

        &:hover {
            background-color: var(--bs-gray-200);
            box-shadow: none;
        }

        img {
            filter: grayscale(100%); // Applies grayscale filter to the images
        }

        #eventNameLabel {
            color: var(--bs-gray)!important;
        }

        .favorite-icon {
            color: var(--bs-gray)!important;
        }
    }

    .banner-container {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }

        //.favorite-icon {
        //    position: absolute;
        //    top: 8px;
        //    right: 8px;
        //    cursor: pointer;
        //    font-size: 32px;
        //}
    }

}

.menu-row {
    margin-right: -15px;
    margin-left: -15px;
}

.menu-col {
    padding: 10px;
}

.content-container {
    flex-grow: 1;  /* Takes up all available space */
}

.footer-content {
    /* Additional styling as needed */
}
