@import '../../styles/style.scss';

.event-item {
    height: 100%;

    background-color: #fff;
    border: 1px solid #dee2e6;
    margin: 0;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $secondary-100;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.disabled {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        color: #6c757d;
        cursor: not-allowed;
        box-shadow: none;

        &:hover {
            background-color: #e9ecef;
            box-shadow: none;
        }

        img {
            filter: grayscale(100%); // Applies grayscale filter to the images
        }

        #eventNameLabel {
            color: #6c757d!important;
        }

        .favorite-icon {
            color: #6c757d!important;
        }
    }

    .banner-container {
        position: relative;
        img {
            width: 100%;
            height: auto;
        }

        .favorite-icon {
            position: absolute;
            top: 8px;
            right: 8px;
            cursor: pointer;
            font-size: 32px;
        }
    }

}

.menu-row {
    margin-right: -15px;
    margin-left: -15px;
}

.menu-col {
    padding: 10px;
}
