@import '../../styles/style.scss';

.event-item {
    //height: 320px;
    //width: 320px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    //display: flex;
    //flex-direction: column;
    margin: 0;
    //align-items: center;
    //justify-content: center;
    //text-align: center;
    //margin-bottom: 4px;
    font-size: 18px;
    transition: background-color 0.3s, box-shadow 0.3s;

    &:hover {
        background-color: $secondary-100;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    &.disabled {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        color: #6c757d;
        cursor: not-allowed;
        box-shadow: none;

        &:hover {
            background-color: #e9ecef;
            box-shadow: none;
        }
    }
}

/**
 * Adjusts the margins of the row container for menu items to ensure precise alignment.
 */
 
.menu-row {
    margin-right: -15px;
    margin-left: -15px;
}

/**
 * Defines the spacing around individual menu columns within a row.
 */

.menu-col {
    padding: 10px;
}

/**
 * Styles super-sized Font Awesome icons within the menu options.
 */

//.fa-super {
//    font-size: 64px;
//    margin-bottom: 8px;
//}