body { 
  padding-top: 40px;
  background-color: gray;
  /*background-color: gray;*/
}

@media (max-width: 768px) {
  body {
      padding-top: 80px;
      /*background-color: gray;*/
  }
}

/*
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
*/